<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update Fruit</title>
     <!-- MDB icon -->
     <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon" />
     <!-- Font Awesome -->
     <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <!-- Google Fonts Roboto -->
     <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
     <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.css" rel="stylesheet" />
  <!-- Stylesheet -->
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <!-- Start your project here-->
  <!-- Home -->
  <section class="pt-5 mt-5">
    <div class="container">
      <br />
      <div class="row">
        <div class="col-1"></div>

        <div class="col-sm-10">
          <div class="card">
            <div class="card-title text-center text-white" style="background: rgb(17, 16, 29)">
              <h4 class="mt-2 py-3"><%= viewTitle %> </h4>
            </div>
            <div class="card-body">
              <form action="/update-fruits/<%= fruit.id %>" method="POST">
                <label for="name">Name:</label>
                <input type="text" name="name" class="form-control" maxlength="75" required id="name" value="<%= fruit.name  %>">

                <label for="rating">Rating:</label>
                <input type="number" name="rating" class="form-control" required id="rating" value="<%= fruit.rating  %>">

                <label for="review">Review:</label>
                <input type="text" name="review" class="form-control" maxlength="75" required id="review" value="<%= fruit.review  %>">

                <br>
                <button type="submit" class="btn btn-outline-dark waves-effect btn-block waves-light">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
  </section>
  <!-- End your project here-->

  <!-- MDB -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
  <!-- Custom scripts -->
  <script type="text/javascript">
    let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");
    let searchBtn = document.querySelector(".bx-search");

    closeBtn.addEventListener("click", () => {
      sidebar.classList.toggle("open");
      menuBtnChange(); //calling the function(optional)
    });

    searchBtn.addEventListener("click", () => { // Sidebar open when you click on the search icon
      sidebar.classList.toggle("open");
      menuBtnChange(); //calling the function(optional)
    });

    // following are the code to change sidebar button(optional)
    function menuBtnChange() {
      if (sidebar.classList.contains("open")) {
        closeBtn.classList.replace("bx-menu", "bx-menu-alt-right"); //replacing the icons class
      } else {
        closeBtn.classList.replace("bx-menu-alt-right", "bx-menu"); //replacing the icons class
      }
    }
  </script>
</body>

</html>



